* {
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.238) 3px 3px 20px 3px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
ul li .link {
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: bold;
}
ul li .link:hover {
  color: var(--background-color);
}
.logo-container {
  height: 120px;
}

.navMenu li a {
  color: var(--text-color);
}

/*IMÁGEN DE PERFIL*/
.avatar_container img {
  height: 100%;
  border-radius: 50%;
  border: solid 2px #d6a9bd;
}

.avatar_container {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40px;
}

.li_avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navMenu {
  align-items: center;
}
.Welcome {
  font-size: larger;
  font-weight: bold;
  color: darkseagreen;
}
.profileNav {
  margin-right: 30px;
}
